In [428]:
import requests
import pandas as pd
import json
import matplotlib.pyplot as plt
from alive_progress import alive_bar
api_token = "55bb5f7a051cefa4483b892d4115fb49:afd837a03ca494a823f6b20cb016f142"

In [442]:
symbols = ['AAPL','ANET','ASML',"CHGCY","KO","COST","DLICY","DBSM","DTEGN","LLY","XOM","RACE","GETIB","HON","ICBK","ITX","JPM","LGFRY","OREP","LULU","MQG","MSFT","MSCI","NESN","NKE","NTDOY","NOVO","ORSTED","RIO","SSDIF","SHIN","TCS","TE","V","WEGE3","WLSN"]

In [443]:
len(symbols)

36

# Get indicators

In [54]:
# DO not run again
indicators =requests.get('https://api.gurufocus.com/public/user/55bb5f7a051cefa4483b892d4115fb49:afd837a03ca494a823f6b20cb016f142/stock/indicators')
content = indicators.content
data = json.loads(content.decode('utf8'))

In [444]:
indicators = pd.read_csv("indicators.csv")
indicators

     Unnamed: 0               key                          name
0             0             price                         Price
1             1           revenue                       Revenue
2             2  revenue_estimate         Revenue with Estimate
3             3        net_income                    Net Income
4             4             pettm                PE Ratio (TTM)
..          ...               ...                           ...
231         231          guru_buy   Number of Premium Guru Buys
232         232         guru_hold  Number of Premium Guru Holds
233         233   guru_buy_volume   Shares of Premium Guru Buys
234         234  guru_sell_volume  Shares of Premium Guru Sells
235         235  guru_hold_volume  Shares of Premium Guru Holds

[236 rows x 3 columns]

# Price

In [445]:
api_token = "55bb5f7a051cefa4483b892d4115fb49:afd837a03ca494a823f6b20cb016f142"
symbol = symbols[1]
response = requests.get(f'https://api.gurufocus.com/public/user/{api_token}/stock/{symbol}/price?type=a')
content = response.content
price_data = json.loads(content.decode('utf8'))
price = pd.DataFrame(price_data)

In [451]:
price.columns = ["date",'price']
price["date"] = pd.to_datetime(price["date"])

# Indicators

In [452]:
indicator = indicators.iloc[4:20].key
indicators_list = list(indicators['key'])
indicator = indicators_list[0:10]
indicator

['price',
 'revenue',
 'revenue_estimate',
 'net_income',
 'pettm',
 'price_to_owner_earnings',
 'ps_ratio',
 'pb_ratio',
 'peg_ratio',
 'yield']

In [453]:
indicator = indicators_list[0:10]
aux = ["enterprise_value_to_revenue","enterprise_value_to_ebitda","enterprise_value_to_ebit","earning_yield_greenblatt","rate_of_return_value","shiller_pe_ratio","price_to_tangible_book"
       ,"price_to_free_cash_flow","price_to_operating_cash_flow"]
for i in aux:
    indicator.append(i)
indicator.pop(0)
indicator.pop(0)
indicator.pop(0)
a =indicator.pop(0)

In [457]:
data=price
with alive_bar(len(indicator),force_tty=True) as bar:
    for i in range(len(indicator)):
        bar()
        ind = indicator[i]
        response = requests.get(f'https://api.gurufocus.com/public/user/{api_token}/stock/{symbol}/{ind}?type=a')
        content = response.content
        indicator_data = json.loads(content.decode('utf8'))
        if(len(indicator_data)==0):
            continue
        else:
            indicator_df = pd.DataFrame(indicator_data)
            indicator_df[0] = pd.to_datetime(indicator_df[0])
            indicator_df.columns = ["date",ind]
            data = pd.merge(data,indicator_df,how="left",on=["date"])
data.to_csv(symbol+".csv")

|████████████████████████████████████████| 15/15 [100%] in 9.3s (1.67/s)

In [458]:
data

,date,price,pettm,price_to_owner_earnings,ps_ratio,pb_ratio,peg_ratio,enterprise_value_to_revenue,enterprise_value_to_ebitda,enterprise_value_to_ebit,earning_yield_greenblatt,rate_of_return_value,shiller_pe_ratio,price_to_tangible_book,price_to_free_cash_flow,price_to_operating_cash_flow
0,2014-06-06,13.750,165.66,NaN,9.82,36.18,NaN,8.42,41.12,44.58,2.24,NaN,NaN,36.18,136.14,80.88
1,2014-06-09,13.800,166.27,NaN,9.86,36.32,NaN,8.45,41.27,44.74,2.23,NaN,NaN,36.32,136.63,81.18
2,2014-06-10,15.000,180.72,NaN,10.71,39.47,NaN,9.18,44.85,48.62,2.06,NaN,NaN,39.47,148.51,88.24
3,2014-06-11,15.875,191.27,NaN,11.34,41.78,NaN,9.71,47.46,51.45,1.94,NaN,NaN,41.78,157.18,93.38
4,2014-06-12,16.500,198.80,NaN,11.79,43.42,NaN,10.09,49.32,53.47,1.87,NaN,NaN,43.42,163.37,97.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2250,2023-05-15,137.980,28.75,122.11,8.97,7.93,NaN,8.03,21.62,22.50,4.45,NaN,73.79,8.54,70.83,66.66
2251,2023-05-16,136.140,28.36,120.48,8.85,7.83,NaN,7.92,21.30,22.17,4.51,NaN,72.80,8.42,69.89,65.77
2252,2023-05-17,135.830,28.30,120.20,8.83,7.81,NaN,7.90,21.25,22.12,4.52,NaN,72.64,8.41,69.73,65.62
2253,2023-05-18,141.460,29.47,125.19,9.20,8.13,NaN,8.25,22.21,23.11,4.33,NaN,75.65,8.75,72.62,68.34
2254,2023-05-19,143.910,29.98,127.35,9.36,8.28,NaN,8.41,22.62,23.54,4.25,NaN,76.96,8.91,73.88,69.52

In [459]:
data = pd.read_csv(symbol+".csv")

In [460]:
data.replace(0, np.nan, inplace=True)
metrics_correlation = data.corr()['price'].iloc[1:]
metrics_correlation_abs = metrics_correlation.map(abs)
metrics_correlation_abs = pd.DataFrame(metrics_correlation_abs)
metrics_correlation = pd.DataFrame(metrics_correlation)
metrics = pd.concat([metrics_correlation,metrics_correlation_abs],axis=1)
metrics.columns=['Correlation', 'abs']
metrics = metrics.sort_values(by="abs",ascending=False)
metrics.to_csv(symbol+"_results.csv")

# Script for symbol

In [477]:
#Please run this command if this is the first time getting the information, if not run get results Correlation
def getCorrelations(symbol):
    indicators = pd.read_csv("indicators.csv")
    api_token = "55bb5f7a051cefa4483b892d4115fb49:afd837a03ca494a823f6b20cb016f142"
    response = requests.get(f'https://api.gurufocus.com/public/user/{api_token}/stock/{symbol}/price?type=a')
    content = response.content
    price_data = json.loads(content.decode('utf8'))
    price = pd.DataFrame(price_data)
    price.columns = ["date",'price']
    price["date"] = pd.to_datetime(price["date"])
    data=price
    with alive_bar(len(indicator),force_tty=True) as bar:
        for i in range(len(indicator)):
            bar()
            ind = indicator[i]
            response = requests.get(f'https://api.gurufocus.com/public/user/{api_token}/stock/{symbol}/{ind}?type=a')
            content = response.content
            indicator_data = json.loads(content.decode('utf8'))
            if(len(indicator_data)==0):
                continue
            else:
                indicator_df = pd.DataFrame(indicator_data)
                indicator_df[0] = pd.to_datetime(indicator_df[0])
                indicator_df.columns = ["date",ind]
                data = pd.merge(data,indicator_df,how="left",on=["date"])
    data.to_csv(symbol+".csv")
    data = pd.read_csv(symbol+".csv")
    data.replace(0, np.nan, inplace=True)
    metrics_correlation = data.corr()['price'].iloc[1:]
    metrics_correlation_abs = metrics_correlation.map(abs)
    metrics_correlation_abs = pd.DataFrame(metrics_correlation_abs)
    metrics_correlation = pd.DataFrame(metrics_correlation)
    metrics = pd.concat([metrics_correlation,metrics_correlation_abs],axis=1)
    metrics.columns=['Correlation', 'abs']
    metrics = metrics.sort_values(by="abs",ascending=False)
    metrics= metrics.to_csv(symbol+"_results.csv")
    print(f"The best historical metric is {metrics.iloc[1][0]} with correlation {metrics.iloc[1]['Correlation']}")

In [482]:
def getCorrelationResults(symbol):
    metrics = pd.read_csv(symbol+"_results.csv")
    print(metrics.head())
    print(f"The best historical metric is {metrics.iloc[1][0]} with correlation {metrics.iloc[1]['Correlation']}")

In [485]:
getCorrelationResults(symbols[3])

                    Unnamed: 0  Correlation       abs
0                        price     1.000000  1.000000
1                     pb_ratio     0.957862  0.957862
2       price_to_tangible_book     0.956442  0.956442
3  enterprise_value_to_revenue     0.927827  0.927827
4                     ps_ratio     0.926664  0.926664
The best historical metric is pb_ratio with correlation 0.9578621580311536

# Getting results

In [489]:
import os
for i in symbols:
    print("Getting data for " + i) 
    if(not os.path.exists(i+".csv")):
        getCorrelations(i)
    else:
        getCorrelationResults(i)

SyntaxError: invalid syntax (1937107246.py, line 4)